.header
{
    top:0;
    position: sticky;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.header .logo
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:8px;
}
.footer-right-side .logo a{
    font-family: var(--subFont1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #545be8;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
   
}
.navbar a{
    color: #101928;
    font-family: var(--mainFont);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.active {
    font-weight: 1000;
}
.auth
{
    display: flex;
    flex-wrap: wrap;
}
.header .auth a
{
width: 170px;
height: 48px;
padding: 13px 49px;
padding: 13px 49px;
border-radius: 10px;
font-family: var(--subFont2);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: left;
}
.header .auth a:first-of-type
{
    border: 1px solid var(--mainColour);
    color: var(--mainColour);
    margin-right: 24px;
}
.header .auth a:last-of-type
{
    color: #ffffff;
    background: var(--mainColour);
    
}
@media(max-width:1280px)
{
    .navbar
    {
        display: none;
    }
}
.footer
{
    background-color: #393E46;
    padding: 100px 0;
    display: flex;
    width: 100%;
}
.footer .footer-right-side
{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 45px;
}

.footer-left-side p
{
    width: 400px;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: #f4f4f4;
    margin-top: 25px;
}
.footer-right-side h2
{
    
    font-family: var(--mainColour);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 55px;
    text-align: left;
    color: #ffffff;
}
.footer-right-side a
{
    font-size: 13px;
    color: #f4f4f4;;
}

.footer-left-side a{
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
}
.footer .footer-left-side .icons img
{
    border: 0.5px solid #ffffff;
    width: 18px;
    height: 18px;
    padding: 7px;
    box-sizing: content-box;
    margin-top: 38px;
}
.footer .logo
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
}

.footer .footer-left-side .logo a{
    font-size: 13px;
    font-weight: 500;
}
.footer .footer-left-side .icons
{
   display: flex;
   flex-wrap: wrap;
   gap: 13px;
}
.footer .footer-right-side .footer-item
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer .footer-right-side .footer-item ul
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:7px;
}
.footer .footer-right-side .row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* start section*/
.testimonial .row
{
    display: flex;
    flex-wrap: wrap;
}
.testimonials h2
{
    text-align: center;
    padding: 30px;
}

.testimonial
{
    position: relative;
    width: calc((100% - 20px) / 2);
    background: #ffffff;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgb(170, 159, 159);
    margin-bottom: 20px;
    padding:15px 70px;
}
.testimonials .client img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.rating img
{
    width : 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.testimonials .client
{
    display: flex;
}
.testimonials .testimonial .client .client-data h3{
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    text-align: left;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 5px;
}
.testimonial span{
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 13px;
    line-height: 9px;
    text-align: left;
    color: #969696;
}
.testimonial p{
    width: 421px;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #646464;
}
.testimonial .comment
{
    display: flex;
    flex-wrap: wrap;
}
.testimonial ::after
{
    content: ' ';
    border-top: 60px solid #e9e9e98f;
    border-left: 60px solid transparent;
    border-bottom: 50px solid transparent;
    position:absolute;
    top: 0;
    right: 0;
}